body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(assets/background.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    justify-content: center;
    text-align: center;
    display: block;
}
textarea, input{
    background-image: url(assets/navbarbackground.jpg);
    background-size: cover;
}
hr{
    background-image: url(assets/hrBackground.jpg);
    width: 75vw;
    margin: auto;
    padding-top: 5px;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 3px;
    box-shadow: lightblue 0 0 5px;
    background-size: cover;
}

/* ============================================================================================== */
/* Navbar */
/* ============================================================================================== */
.container-header .navbar {
    margin: auto;
    background-image: url(assets/navbarbackground.jpg);
    position: relative;
    width: 75vw;
    box-shadow: black 0 0 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container-header nav.navbar form#navbar {
    margin: auto;
    width: 100vw;
}

.container-fluid {
    width: 100vw;
    display: flex;
    flex-direction: row;
    margin: auto;
}

a.btn{
    margin-left: 5em;
    width: 8rem;
    margin: auto;
    margin-left: 1em;
    margin-right: 1em;
    text-decoration: none;
    color: black;
}

a.btn:hover {
    color: white;
    text-shadow: lightblue 0 0 9px;
    box-shadow: black 0 0 10px;
}

/* ============================================================================================== */

/* Header/Title */
/* ============================================================================================== */
.title{
    position: relative;
    display: block;
    margin-bottom: 25em;
}
h1{
    font-size: 10vw;
    margin-top: 2.4em;
}

.title p{
    background: -webkit-linear-gradient(lightblue, rgb(125, 177, 194));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 15em;
    position: relative;
    display: block;
    margin: auto;
    margin-left: 78%;
    margin-top: -1em;
}
/* ============================================================================================== */

/*  About Me */
/* ============================================================================================== */
.container-about{
    margin: auto;
    width: 80vw;
    justify-content: center;
    height: fit-content;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    border: solid 5px transparent;
    border-image: url(assets/navbarbackground.jpg) 30 round;
    box-shadow: inset black 0 0 15px;
    border-image-repeat: stretch;
}
.about-me{
    margin-left: 30%;
}
.container-about h2{
    font-size: 400%;
}
.badges #badges{
    display: inline-block;
    width: fit-content;
    height: 15em;
}
#badges img{
    width: 100px;
    filter: drop-shadow(lightblue 0 0 10px);
    margin: 1em;
    position: relative;
}
#badges img:hover{
    filter: drop-shadow(black 0 0 10px);
}
div#badges{
    margin: auto;
    display: inline;
    position: relative;
}
#badges #credly{
    color: white;
    width: fit-content;
}

.container-about .list{
    width: 16em;
    display: inline-block;
    position: relative;
    margin-right: 30%;
}
.list h4{
    text-align: left;
    margin-left: 3.8em;
}

.list-group{
    width: 15em;
    box-shadow: lightblue 0 0 15px;
}
.my-image{
    width: 25vw;
    justify-content: center;
    text-align: center;
    position: relative;
    margin: auto;
    margin-top: -39em;
}
.my-image .jake-image{
    width: 15vw;
    border-radius: 250px;
    margin: auto;
    position: relative;
    box-shadow: lightblue 0 0 15px;
}
.my-image p{
    margin: auto;
    width: 25em;
    position: relative;
    margin-bottom: 3em;
    margin-top: 2em;
    display: inline-block;
}
/* ============================================================================================== */

/* Projects */
/* ============================================================================================== */
.container-projects {
    width: 50vw;
    position: relative;
    justify-content: center;
    text-align: center;
    margin: auto;
    display: inline-block;
}

.container-projects h2{
    font-size: 400%;
}

.container-projects carousel-item img, carousel-inner img {
    width: 50%;
}

.carousel-caption {
    color: black;
    text-shadow: lightblue 0 0 10px;
    background-image: url(assets/background.jpg);
    background-size: cover;
}

.carousel-caption h5 {
    font-weight: bold;
}
.carousel-caption p {
    color: white;
    margin-left: 1em;
    margin-right: 1em;
    text-shadow: black 0 0 9px;
}
.carousel-caption p a{
    color: white;
}
button.carousel-control-next{
    background-image: url(assets/navbarbackground.jpg);
    width: 6em;
    opacity: 0%;
    color: black;
}
button.carousel-control-prev{
    background-image: url(assets/navbarbackground.jpg);
    width: 7em;
    opacity: 0%;
    color: black;
}
button.carousel-control-next:hover{
    color: black;
}
button.carousel-control-prev:hover{
    color: black;
}
span.carousel-control-next-icon{
    color: black;
}
span.carousel-control-prev-icon{
    color: black;
}

/* ============================================================================================== */

/* Contact Form */
/* ============================================================================================== */
.email{
    margin: auto;
}
div#email-form{
    justify-content: center;
    height: 20em;
    margin: auto;
}
#contact{
    text-align: center;
    width: auto;
    margin: auto;
}
.email form button{
    margin-top: 1em;
}
.email form button:hover{
    box-shadow: lightblue 0 0 15px;
    text-shadow: lightblue 0 0 9px;
}

/* ============================================================================================== */

/* Footer */
/* ============================================================================================== */
.footer {
    color: black;
    background-image: url(assets/navbarbackground.jpg);
    margin-bottom: -1em;
    height: 3em;
}

div.footer p {
    height: 3em;
    padding-top: .8em;
    margin: 1em;
}

/* ============================================================================================== */

/* Scrollbar properties */
/* ============================================================================================== */
::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-thumb {
    background-image: url(assets/scrollbar-background.jpg);
    background-size: 100% 100%;
    border-radius: 6px;
    box-shadow: inset black 0 0 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.8);
}

/* ============================================================================================== */