body{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    justify-content: center;
    position: relative;
    background-image: url(assets/background.jpg);
    background-size: 100vw 100%;
    color: white;
    display: block;
    width: 100%;
    margin: auto;
}
#header{
    text-align: center;
    justify-content: center;
    height: 40em;
}
.nav{
    justify-content: center;
    font-size: larger;
    font-weight: bold;
    width: 100vw;
    vertical-align: middle;
}
.navbar{
    margin-top: -.55em;
    vertical-align: middle;
}
.row{
    text-align: center;
    justify-content: center;
    margin-bottom: 5em;
}
li .nav-item{
    margin-bottom: 1em;
}
.nav-link{
    color: rgb(0, 0, 0);
}
.textlink{
    margin-top: .5em;
}
.nav-link:hover{
    text-shadow: black 0px 0px 8px;
    color: lightblue;
    vertical-align: middle;
    -webkit-text-stroke: black 1px;
}
.container-about{
    text-align: center;
    display: block;
    justify-content: center;
    width: 100vw;
    margin: auto;
}
.container-about .skills-column{
    margin-left: 3em;
}
.container-about .skills-column h4{
    text-align: center;
    margin: auto;
    margin-left: 1.15em;
    margin-bottom: .5em;
}
.container-about h2{
    font-weight: bold;
    font-size:7em ;
    text-shadow: lightblue 0 0 5px;
    position: relative;
}
#navbar{
    justify-content: center;
    background-color: white;
    box-shadow: black 0 0 15px inset;
    height: 4em;
    width: 100vw;
}
#header h1{
    font-weight: bold;
    font-size: 1000%;
    text-align: center;
    margin-top: 2.5em;
}
div#contactform{
    width: auto;
    margin: auto;
    justify-content: center;
}
div#email-form{
    justify-content: center;
    height: 20em;
    margin: auto;
}
#contact{
    text-align: center;
    width: auto;
    margin: auto;
}
input.btn{
    text-shadow: lightblue 0 0 10px;
}
#header{
    padding-bottom: 15em;
    text-align: center;
    justify-content: center;
    width: 100vw;
}
#header p{
    font-weight: bold;
    text-align: right;
    color: lightblue;
    margin-right: 5em;
    margin-top: -1rem;
}
div#portfolio{
    width: 100vw;
}
div.footer{
    background-color: white;
    box-shadow:black 0 0 20px inset;
    color: black;
    margin-bottom: -1rem;
    width: 100vw;
}
div.footer p{
    height: 3em;
    padding-top: .8em;
    margin: 1em;
}
div#about{
    justify-content: center;
}
.image{
    margin: auto;
    display: inline-block;
    margin-left: 47em;
    margin-top: -50em;
}
.image .jake-image{
    height: 15em;
    width: 15em;
    position: relative;
    border-radius: 200px;
    box-shadow: lightblue 0 0 15px;
    display: inline;
}
.image p{
    height: 15em;
    width: 25em;
    font-size: larger;
    position: relative;
    display: inline-block;
    margin-top: -30em;
    margin-left: -45em;
}
.list-group{
    display: inline;
    position: relative;
    box-shadow: lightblue 0 0 15px;
    text-align: center;
    width: 25em;
    color: black;
    width: 15em;
    margin-bottom: 15em;
    background-color: black;
}
.skills-column ul.list-group{
    box-shadow: lightblue 0 0 25px;
    text-align: center;
}
.container-projects{
    width: 90vw;
    position: relative;
    justify-content: center;
    text-align: center;
    margin-bottom: -3em;
    padding: -1em;
}
.container-projects carousel-item img, carousel-inner img{
    width: 80vw;
    box-shadow: black 0 0 20px;
}
.carousel-caption{
    color: black;
    text-shadow: lightblue 0 0 10px;
    background-image: url(assets/background.jpg);
    background-size: cover;
}
.carousel-caption h5{
    font-weight: bold;
}
#project-box{
    box-shadow: lightblue 0 0 25px;
    margin-top: 1em;
}
.row #portfolio h2{
    text-align: center;
    width: 100vw;
    position: relative;
}
#email{
    width: 100vw;
}
.carousel-control-prev{
    width: 6em;
    background-color: rgba(126, 126, 126, 0.726);
    color: black;
}
.carousel-control-next{
    width: 6em;
    background-color: rgba(126, 126, 126, 0.726);
    color: black;
}
div#badges{
    width: 20em;
    position: fixed;
    display: inline;
    margin: auto;
}
div#badges .btn{
    margin: auto;
}
div#badges img#badge{
    height: 100px;
    width: 100px;
    filter: drop-shadow(lightblue 0 0 10px);
    margin-top: .5em;

} 
div#badges img#badge:hover{
    filter: drop-shadow(black 0 0 10px);
}
div#badges a#credly{
    display: block;
    color: white;
    text-decoration: none;
    width: 9em;
}
div#badges a#credly:hover{
    color: lightblue;
    text-decoration: none;
}
div#navbar ul li a img{
    width: 2em;
    border-radius: 1em;
}
div#navbar ul li a img:hover{
    box-shadow: black 0 0 25px;
}
.details{
    margin-top: -15em;
}
::-webkit-scrollbar {
    width: 1rem;
}
::-webkit-scrollbar-thumb {
    background-image: url(assets/scrollbar-background.jpg);
    background-size: 100% 100%;
    border-radius: 6px;
    box-shadow: inset black 0 0 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0.8);
}